

/* 
.navbar {
    background-color: #f8f9fa; 
    padding: 15px; 
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    margin-right: 15px; 
}

.navbar-nav .nav-item {
    margin-right: 10px; 
}

.nav-link {
    color: #007bff; 
}

.nav-link:hover {
    color: #0056b3; 
}


.dropdown-menu {
    background-color: #f8f9fa; 
}

.dropdown-item {
    color: #007bff; 
}

.dropdown-item:hover {
    background-color: #007bff; 
    color: #ffffff; 
} */
